@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .event-modification{
        margin:20px 20px 20px 20px;
    }
  }
  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .event-modification{
        margin:40px 40px 40px 40px;
    }
  }
  .button-submit{
    left: auto;
  }
  .bg-gradient-primary {
    background: linear-gradient(87deg, #00f6fe 0, #5c31af 100%) !important;
  }